In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
dateipfad = r"path_to_dataset\MDB_STAMMDATEN.XML"

# extract relevant information from XML file

In [4]:
import xml.etree.ElementTree as ET
import pandas as pd

# read XML
tree = ET.parse('MDB_STAMMDATEN.XML')
root = tree.getroot()

data = []

# Parse MDB Elements
for mdb in root.findall('MDB'):
    # personal information
    person_data = {
        'id': mdb.find('.//ID').text,
        'last_name': mdb.find('.//NACHNAME').text,
        'first_name': mdb.find('.//VORNAME').text,
        'adel': mdb.find('.//ADEL').text,
        'prefix': mdb.find('.//PRAEFIX').text, 
        'title': mdb.find('.//ANREDE_TITEL').text,
        'academic_title': mdb.find('.//AKAD_TITEL').text,
        'birthday': mdb.find('.//GEBURTSDATUM').text,
        'place_of_birth': mdb.find('.//GEBURTSORT').text,
        'country_of_birth': mdb.find('.//GEBURTSLAND').text,
        'date_of_death': mdb.find('.//STERBEDATUM').text,
        'gender': mdb.find('.//GESCHLECHT').text,
        'family_status': mdb.find('.//FAMILIENSTAND').text,
        'religion': mdb.find('.//RELIGION').text,
        'profession': mdb.find('.//BERUF').text,
        'party': mdb.find('.//PARTEI_KURZ').text      
        
    }
    
    # information regarding election period for each person
    for periode in mdb.findall('.//WAHLPERIODE'):
        wp_data = person_data.copy()
        wp_data['election_period'] = periode.find('WP').text
        wp_data['mdb_from'] = periode.find('MDBWP_VON').text
        wp_data['mdb_until'] = periode.find('MDBWP_BIS').text  
        wp_data['electoral_district_nr'] = periode.find('WKR_NUMMER').text
        wp_data['electoral_district_name'] = periode.find('WKR_NAME').text
        wp_data['electoral_district_state'] = periode.find('WKR_LAND').text
      
        data.append(wp_data)

# create dataframe
df = pd.DataFrame(data)

df

,id,last_name,first_name,adel,prefix,title,academic_title,birthday,place_of_birth,country_of_birth,...,family_status,religion,profession,party,election_period,mdb_from,mdb_until,electoral_district_nr,electoral_district_name,electoral_district_state
0,11000001,Abelein,Manfred,None,None,Dr.,Prof. Dr.,20.10.1930,Stuttgart,None,...,keine Angaben,katholisch,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",CDU,5,19.10.1965,19.10.1969,174,None,BWG
1,11000001,Abelein,Manfred,None,None,Dr.,Prof. Dr.,20.10.1930,Stuttgart,None,...,keine Angaben,katholisch,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",CDU,6,20.10.1969,22.09.1972,174,None,BWG
2,11000001,Abelein,Manfred,None,None,Dr.,Prof. Dr.,20.10.1930,Stuttgart,None,...,keine Angaben,katholisch,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",CDU,7,13.12.1972,13.12.1976,174,None,BWG
3,11000001,Abelein,Manfred,None,None,Dr.,Prof. Dr.,20.10.1930,Stuttgart,None,...,keine Angaben,katholisch,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",CDU,8,14.12.1976,04.11.1980,174,None,BWG
4,11000001,Abelein,Manfred,None,None,Dr.,Prof. Dr.,20.10.1930,Stuttgart,None,...,keine Angaben,katholisch,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",CDU,9,04.11.1980,29.03.1983,174,None,BWG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12384,11005303,Mende,Dirk-Ulrich,None,None,None,None,26.12.1957,Münster / Westfalen,None,...,"verheiratet, 3 Kinder",evangelisch,Volljurist / Geschäftsführer,SPD,20,25.01.2023,None,None,None,None
12385,11005304,Föhr,Alexander,None,None,None,None,01.08.1980,Heidelberg,None,...,"verheiratet, 3 Kinder",römisch-katholisch,Leitender Angestellter,CDU,20,01.03.2023,None,None,None,None
12386,11005305,Rothfuß,Rainer,None,None,Dr.,Dr.,19.04.1971,Freudenstadt,None,...,"verheiratet, 2 Kinder",ohne Angaben,Geopolitik-Analyst,AfD,20,02.03.2023,None,None,None,None
12387,11005306,Trăsnea,Ana-Maria,None,None,None,None,15.03.1994,Piatra Neamț,Rumänien,...,ledig,None,Kulturwissenschaftlerin,SPD,20,16.05.2023,None,None,None,None
12388,11005308,Bartelt,Christian,None,None,None,None,16.09.1976,Neubrandenburg,None,...,"verheiratet, 3 Kinder",None,Zahnarzt,FDP,20,04.09.2023,None,None,None,None

# data wrangling

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12389 entries, 0 to 12388
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        12389 non-null  object
 1   last_name                 12389 non-null  object
 2   first_name                12389 non-null  object
 3   adel                      101 non-null    object
 4   prefix                    215 non-null    object
 5   title                     3166 non-null   object
 6   academic_title            3270 non-null   object
 7   birthday                  12389 non-null  object
 8   place_of_birth            12385 non-null  object
 9   country_of_birth          268 non-null    object
 10  date_of_death             5947 non-null   object
 11  gender                    12389 non-null  object
 12  family_status             12248 non-null  object
 13  religion                  11873 non-null  object
 14  profession                12366 non-null  object
 15  party                     12384 non-null  object
 16  election_period           12389 non-null  object
 17  mdb_from                  12389 non-null  object
 18  mdb_until                 11653 non-null  object
 19  electoral_district_nr     6269 non-null   object
 20  electoral_district_name   3210 non-null   object
 21  electoral_district_state  6269 non-null   object
dtypes: object(22)
memory usage: 2.1+ MB

In [6]:
# change data types where necessary

As_datetime = ['birthday', 'date_of_death', 'mdb_from', 'mdb_until']
df[As_datetime] = df[As_datetime].apply(pd.to_datetime)

df['election_period'] = df['election_period'].astype(int)
df['id'] = df['id'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12389 entries, 0 to 12388
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        12389 non-null  int32
 1   last_name                 12389 non-null  object
 2   first_name                12389 non-null  object
 3   adel                      101 non-null    object
 4   prefix                    215 non-null    object
 5   title                     3166 non-null   object
 6   academic_title            3270 non-null   object
 7   birthday                  12389 non-null  datetime64[ns]
 8   place_of_birth            12385 non-null  object
 9   country_of_birth          268 non-null    object
 10  date_of_death             5947 non-null   datetime64[ns]
 11  gender                    12389 non-null  object
 12  family_status             12248 non-null  object
 13  religion                  11873 non-null  object
 14  profession                12366 non-null  object
 15  party                     12384 non-null  object
 16  election_period           12389 non-null  int32
 17  mdb_from                  12389 non-null  datetime64[ns]
 18  mdb_until                 11653 non-null  datetime64[ns]
 19  electoral_district_nr     6269 non-null   object
 20  electoral_district_name   3210 non-null   object
 21  electoral_district_state  6269 non-null   object
dtypes: datetime64[ns](4), int32(2), object(16)
memory usage: 2.0+ MB

In [7]:
#the information regarding the electoral districts seems incomplete --> delete these columns because I cannot use them anyway

df= df.drop(columns=['electoral_district_nr', 'electoral_district_name', 'electoral_district_state'])

In [8]:
# mdb_until (end of electoral period) has less values than mdb_from (beginning electoral period)
# --> confirm the assumption that these missing values belong to the current election period because it does not have an end date yet 
df2 = df[df['mdb_until'].isnull()]
df2['election_period'].unique()

array([20])

In [12]:
## country_of_birth does not have values for every person. Assumption: country is not specified if it's Germany 

df3 = df[df['country_of_birth'].isnull()]
df3

df3 = df[df['country_of_birth']=="Deutschland"]
df3

# assumption confirmed ("Deutschland" only added from period 19)

,id,last_name,first_name,adel,prefix,title,academic_title,birthday,place_of_birth,country_of_birth,date_of_death,gender,family_status,religion,profession,party,election_period,mdb_from,mdb_until
12089,11004954,Ludwig,Saskia,None,None,Dr.,Dr.,1968-05-23,Potsdam,Deutschland,NaT,weiblich,"verheiratet, 2 Kinder",konfessionslos,Diplom-Kauffrau,CDU,19,2019-03-12,2021-10-26
12092,11004957,Bach,Bela,None,None,None,None,1990-09-30,Magdeburg,Deutschland,NaT,weiblich,ledig,None,Juristin,SPD,19,2020-04-02,2021-10-26
12246,11005137,Machalet,Tanja,None,None,Dr.,Dr.,1974-01-05,Dernbach,Deutschland,NaT,weiblich,"verheiratet, 2 Kinder",None,Dipl.-Volkswirtin,SPD,20,2021-10-26,NaT

In [13]:
df['country_of_birth'] = df['country_of_birth'].fillna('Deutschland')

In [16]:
# I'm interested in the family status but it seems very versatile and therby hard to normalize
df['family_status'].unique()

array(['keine Angaben', 'verheiratet, 3 Kinder', 'verheiratet, 5 Kinder',
       'ledig', 'verheiratet, 2 Kinder', 'verheiratet, 4 Kinder',
       'verwitwet, 3 Kinder', 'verheiratet', 'verheiratet, 1 Kind',
       '2 Kinder', 'verheiratet, 7 Kinder', 'unverheiratet, 1 Pflegekind',
       'geschieden, 3 Kinder', 'verheiratet, 6 Kinder',
       'geschieden, 1 Kind', 'verwitwet, 1 Kind', 'verheiratet, 8 Kinder',
       'verwitwet, 2 Kinder', 'verheiratet, 9 Kinder', '1 Kind',
       'verwitwet', 'verwitwet, 5 Kinder', 'unverheiratet',
       'geschieden, 2 Kinder', 'unverheiratet, 1 Kind', None,
       'verwitwet, 6 Kinder', 'verheiratet, 10 Kinder', '3 Kinder',
       'geschieden, 5 Kinder', 'verwitwet, 4 Kinder', 'geschieden',
       'getrennt lebend, 2 Kinder', 'verheiratet, 1 Adoptivkind',
       'geschieden, 4 Kinder', 'ohne Angaben', 'verheiratet, 12 Kinder',
       'unverheiratet, 2 Kinder', 'verheiratet, 1 Kinder, 3 Pflegekinder',
       'Lebensgemeinschaft', 'ledig, 1 Kind', 'verpartnert',
       'getrennt lebend, 3 Kinder',
       'verheiratet, 2 Kinder, 3 Pflegekinder',
       'ledig, in Lebensgemeinschaft lebend, 4 Kinder',
       'patchwork, 2 Kinder', 'lesbische Lebensgemeinschaft, 1 Kind',
       'alleinerziehend, 3 Kinder', '4 Kinder', 'ledig, 2 Kinder',
       'eingetragene Lebenspartnerschaft', '5 Kinder',
       'eheähnl. Lebensgemeinschaft, 3 Kinder',
       'eheähnl. Lebensgemeinschaft, 1 Kind', 'ledig, 3 Kinder',
       'eheähnl. Lebensgemeinschaft, 2 Kinder', 'ledig, 4 Kinder',
       'verpartnert, 1 Kind',
       'eingetragene Lebenspartnerschaft, 2 Kinder',
       'getrennt lebend, 1 Kind', 'verlobt'], dtype=object)

In [17]:
# I decide to extract the number of children instead because that seems easier to normalize

import re
def extract_number_of_children(status):
    if pd.notna(status):
        # I use *kind.*" because I also have values like Adoptivkinder or Pflegekinder which I want to include
        match = re.search(r'(\d+)\s*.*kind.*', status, flags=re.IGNORECASE)
        if match and match.group(1) is not None:
            return int(match.group(1))
    return 0  


df['number_of_children'] = df['family_status'].apply(extract_number_of_children)
df['number_of_children'] = df['number_of_children'].astype(int)

print(df[['family_status', 'number_of_children']])

               family_status  number_of_children
0              keine Angaben                   0
1              keine Angaben                   0
2              keine Angaben                   0
3              keine Angaben                   0
4              keine Angaben                   0
...                      ...                 ...
12384  verheiratet, 3 Kinder                   3
12385  verheiratet, 3 Kinder                   3
12386  verheiratet, 2 Kinder                   2
12387                  ledig                   0
12388  verheiratet, 3 Kinder                   3

[12389 rows x 2 columns]

In [18]:
# check that each person has only one party (many have more than one election period and could possibly change party between two periods)
party_per_person = df.groupby(['id'])['party'].nunique().to_frame('nr_parties').reset_index()
party_per_person[party_per_person['nr_parties']>1]

Empty DataFrame
Columns: [id, nr_parties]
Index: []

In [21]:
# check religion values (df.info showed some missing values for religion)
check_rel= df[['id','religion']].drop_duplicates(subset = 'id')

rel_ohneAngabe= check_rel[check_rel['religion'].isin([None, 'ohne Angaben'])].shape[0]
print('Person Ids without information:', rel_ohneAngabe)

rel_mitAngabe= check_rel[~check_rel['religion'].isin([None, 'ohne Angaben'])].shape[0]
print('Person Ids with information:', rel_mitAngabe)

#--> religion not usable for analysis --> drop column
df= df.drop(columns=['religion'])

Person Ids without information: 1515
Person Ids with information: 2861

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12389 entries, 0 to 12388
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  12389 non-null  int32
 1   last_name           12389 non-null  object
 2   first_name          12389 non-null  object
 3   adel                101 non-null    object
 4   prefix              215 non-null    object
 5   title               3166 non-null   object
 6   academic_title      3270 non-null   object
 7   birthday            12389 non-null  datetime64[ns]
 8   place_of_birth      12385 non-null  object
 9   country_of_birth    12389 non-null  object
 10  date_of_death       5947 non-null   datetime64[ns]
 11  gender              12389 non-null  object
 12  family_status       12248 non-null  object
 13  profession          12366 non-null  object
 14  party               12384 non-null  object
 15  election_period     12389 non-null  int32
 16  mdb_from            12389 non-null  datetime64[ns]
 17  mdb_until           11653 non-null  datetime64[ns]
 18  number_of_children  12389 non-null  int32
dtypes: datetime64[ns](4), int32(3), object(12)
memory usage: 1.7+ MB

In [23]:
# check if the names of the parties are consistent 
df['party'].unique()

array(['CDU', 'FDP', 'SPD', 'KPD', 'DP', 'CSU', 'DZP', 'FU', 'GRÜNE',
       'BP', 'BÜNDNIS 90/DIE GRÜNEN', 'GB/ BHE', 'DIE GRÜNEN/BÜNDNIS 90',
       'PDS', 'PDS/LL', 'DIE LINKE.', 'SRP', 'Plos', None, 'WAV', 'DRP',
       'CSUS', 'DSU', 'DPB', 'CVP', 'DPS', 'AfD', 'Die PARTEI', 'LKR',
       'SSW'], dtype=object)

In [24]:
# there are three different versions of the Green Party
party_mapping = {
    'BÜNDNIS 90/DIE GRÜNEN': 'BÜNDNIS 90/DIE GRÜNEN',
    'DIE GRÜNEN/BÜNDNIS 90': 'BÜNDNIS 90/DIE GRÜNEN',
    'GRÜNE': 'BÜNDNIS 90/DIE GRÜNEN'
}

df['party'] = df['party'].replace(party_mapping)

df['party'].unique()

array(['CDU', 'FDP', 'SPD', 'KPD', 'DP', 'CSU', 'DZP', 'FU',
       'BÜNDNIS 90/DIE GRÜNEN', 'BP', 'GB/ BHE', 'PDS', 'PDS/LL',
       'DIE LINKE.', 'SRP', 'Plos', None, 'WAV', 'DRP', 'CSUS', 'DSU',
       'DPB', 'CVP', 'DPS', 'AfD', 'Die PARTEI', 'LKR', 'SSW'],
      dtype=object)

# export into postgresql database

In [32]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import psycopg2 
from sqlalchemy import create_engine

In [26]:
# Connecting to DB
dbname = 'my_db_name'
user = 'my_user_name'
password = 'my_passward'
host = 'my_host'  
port = 'my_port'  
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

In [27]:

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}')

# adjust data types
sql_datatypes = {
    'object': 'TEXT',
    'datetime64[ns]': 'TIMESTAMP', 
    'int32': 'INTEGER'
}


# create table 
with engine.connect() as conn:
    # iterating over the columns of df and concatenating the column name with corresponding data type (from sql_datatypes) 
    columns_info = ', '.join([f"{col} {sql_datatypes[str(df[col].dtype)]}" for col in df.columns])
    conn.execute(f'''
    CREATE TABLE IF NOT EXISTS rawdata (
        {columns_info}
    );
    ''')

# insert data
df.to_sql('rawdata', engine, if_exists='replace', index=False)

conn.close()